<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>frames</key>
    <dict>
        <key>ball_00.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,0},{256,256}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{256,256}}</string>
            <key>sourceSize</key>
            <string>{256,256}</string>
        </dict>
        <key>ball_01.png</key>
        <dict>
            <key>frame</key>
            <string>{{256,0},{256,256}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{256,256}}</string>
            <key>sourceSize</key>
            <string>{256,256}</string>
        </dict>
        <key>ball_02.png</key>
        <dict>
            <key>frame</key>
            <string>{{512,0},{256,256}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{256,256}}</string>
            <key>sourceSize</key>
            <string>{256,256}</string>
        </dict>
        <key>ball_03.png</key>
        <dict>
            <key>frame</key>
            <string>{{768,0},{256,256}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{256,256}}</string>
            <key>sourceSize</key>
            <string>{256,256}</string>
        </dict>
        <key>ball_04.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,256},{256,256}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{256,256}}</string>
            <key>sourceSize</key>
            <string>{256,256}</string>
        </dict>
        <key>ball_05.png</key>
        <dict>
            <key>frame</key>
            <string>{{256,256},{256,256}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{256,256}}</string>
            <key>sourceSize</key>
            <string>{256,256}</string>
        </dict>
        <key>ball_06.png</key>
        <dict>
            <key>frame</key>
            <string>{{512,256},{256,256}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{256,256}}</string>
            <key>sourceSize</key>
            <string>{256,256}</string>
        </dict>
        <key>ball_07.png</key>
        <dict>
            <key>frame</key>
            <string>{{768,256},{256,256}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{256,256}}</string>
            <key>sourceSize</key>
            <string>{256,256}</string>
        </dict>
        <key>ball_08.png</key>
        <dict>
            <key>frame</key>
            <string>{{0,512},{256,256}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{256,256}}</string>
            <key>sourceSize</key>
            <string>{256,256}</string>
        </dict>
        <key>ball_09.png</key>
        <dict>
            <key>frame</key>
            <string>{{256,512},{256,256}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{256,256}}</string>
            <key>sourceSize</key>
            <string>{256,256}</string>
        </dict>
        <key>ball_10.png</key>
        <dict>
            <key>frame</key>
            <string>{{512,512},{256,256}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{256,256}}</string>
            <key>sourceSize</key>
            <string>{256,256}</string>
        </dict>
        <key>ball_11.png</key>
        <dict>
            <key>frame</key>
            <string>{{768,512},{256,256}}</string>
            <key>offset</key>
            <string>{0,0}</string>
            <key>rotated</key>
            <false/>
            <key>sourceColorRect</key>
            <string>{{0,0},{256,256}}</string>
            <key>sourceSize</key>
            <string>{256,256}</string>
        </dict>
    </dict>
    <key>metadata</key>
    <dict>
        <key>format</key>
        <integer>2</integer>
        <key>realTextureFileName</key>
        <string>ball12.png</string>
        <key>size</key>
        <string>{1024,768}</string>
        <key>textureFileName</key>
        <string>ball12.png</string>
    </dict>
</dict>
</plist>