<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ball_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,21},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,21},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,21},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,21},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,21},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,21},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,21},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,21},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,149},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,149},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,149},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,149},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,149},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,149},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,149},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,149},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,277},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,277},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,277},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,277},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,277},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,277},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,277},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,277},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,405},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,405},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,405},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,405},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,405},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_29.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,405},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_30.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,405},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,405},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,533},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,533},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,533},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_35.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,533},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_36.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,533},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_37.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,533},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_38.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,533},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_39.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,533},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_40.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,661},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_41.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,661},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_42.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,661},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_43.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,661},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_44.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,661},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_45.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,661},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_46.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,661},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_47.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,661},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_48.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,789},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_49.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,789},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_50.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,789},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_51.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,789},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_52.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,789},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_53.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,789},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_54.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,789},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_55.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,789},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_56.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,917},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_57.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,917},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_58.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,917},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_59.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,917},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_60.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,917},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_61.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,917},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_62.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,917},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>ball_63.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,917},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,21},{88,86}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ball_all_.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>ball_all_.png</string>
	</dict>
</dict>
</plist>
